<Vesy>
  <Oracle>
    <DataSource>ssmtest2</DataSource>
    <User>mts_scales</User>
    <Password>mtsscales</Password>
    <Interval>600</Interval>
    <Send>False</Send>
  </Oracle>
  <DataTrack>
    <IP>127.0.0.1</IP>
    <TimeOut>10</TimeOut>
    <PortMicrosim>1106</PortMicrosim>
    <PortJaguar>1105</PortJaguar>
    <Send>False</Send>
  </DataTrack>
  <DataTrack>
    <IP>192.168.80.5</IP>
    <TimeOut>100</TimeOut>
    <PortMicrosim>1106</PortMicrosim>
    <PortJaguar>1105</PortJaguar>
    <Send>True</Send>
  </DataTrack>
  <Password>
    <hash>317210366222432259211830225165226852401031495435200179136180691581924912021520070244</hash>
  </Password>
  <License>
    <count>35154165812869159602405322176642321472816121910721839173227248911041992236441197188</count>
  </License>
  <ButtonControl>
    <Null>True</Null>
    <Tara>False</Tara>
    <Mode>False</Mode>
    <Select>False</Select>
  </ButtonControl>
  <Vesyizm>
    <VesyizmPart>
      <Number>777</Number>
      <Place>ДЦА_ТЕСТ</Place>
      <Type>DEFAULT/TCPIP</Type>
      <Port>
      </Port>
      <Speed>
      </Speed>
      <Parity>
      </Parity>
      <BitCount>
      </BitCount>
      <StopBitCount>
      </StopBitCount>
      <Interval>
      </Interval>
      <IpMoxa>192.168.80.15</IpMoxa>
      <PortMoxa>32000</PortMoxa>
      <UpdateMoxa>800</UpdateMoxa>
      <EdIzm>КГ</EdIzm>
      <NomerSSM>0</NomerSSM>
      <SendRaw>False</SendRaw>
      <IPSSM>127.0.0.1</IPSSM>
      <MagicString>
      </MagicString>
      <ModelDLL>-</ModelDLL>
    </VesyizmPart>
    <VesyizmPart>
      <Number>778</Number>
      <Place>ДЦА_ТЕСТ</Place>
      <Type>DATASCALES_DLL</Type>
      <Port>
      </Port>
      <Speed>
      </Speed>
      <Parity>
      </Parity>
      <BitCount>
      </BitCount>
      <StopBitCount>
      </StopBitCount>
      <Interval>
      </Interval>
      <IpMoxa>192.168.80.15</IpMoxa>
      <PortMoxa>32001</PortMoxa>
      <UpdateMoxa>800</UpdateMoxa>
      <EdIzm>КГ</EdIzm>
      <NomerSSM>0</NomerSSM>
      <SendRaw>False</SendRaw>
      <IPSSM>127.0.0.1</IPSSM>
      <MagicString>
      </MagicString>
      <ModelDLL>RAW</ModelDLL>
    </VesyizmPart>
  </Vesyizm>
</Vesy>