<Vesy>
  <Oracle>
    <DataSource>testdca</DataSource>
    <User>mts_scales</User>
    <Password>mtsscales</Password>
    <Interval>10600</Interval>
    <Send>True</Send>
  </Oracle>
  <Password>
    <hash>317210366222432259211830225165226852401031495435200179136180691581924912021520070244</hash>
  </Password>
  <License>
    <count>35154165812869159602405322176642321472816121910721839173227248911041992236441197188</count>
  </License>
  <ButtonControl>
    <Null>False</Null>
    <Tara>False</Tara>
    <Mode>False</Mode>
    <Select>False</Select>
  </ButtonControl>
  <Vesyizm>
    <VesyizmPart>
      <Number>80</Number>
      <Place>ЛПЦ-1.ПУ-8_АСИ</Place>
      <Type>DATASCALES_REPEATER</Type>
      <Port>
      </Port>
      <Speed>
      </Speed>
      <Parity>
      </Parity>
      <BitCount>
      </BitCount>
      <StopBitCount>
      </StopBitCount>
      <Interval>
      </Interval>
      <IpMoxa>192.168.80.15</IpMoxa>
      <PortMoxa>11005</PortMoxa>
      <UpdateMoxa>500</UpdateMoxa>
      <EdIzm>КГ</EdIzm>
      <NomerSSM>0</NomerSSM>
      <SendRaw>False</SendRaw>
      <IPSSM>127.0.0.1</IPSSM>
      <MagicString>
      </MagicString>
      <ModelDLL>-</ModelDLL>
    </VesyizmPart>
    <VesyizmPart>
      <Number>6</Number>
      <Place>ЛПЦ-1.ПУ-6_АСИ</Place>
      <Type>DATASCALES_REPEATER</Type>
      <Port>
      </Port>
      <Speed>
      </Speed>
      <Parity>
      </Parity>
      <BitCount>
      </BitCount>
      <StopBitCount>
      </StopBitCount>
      <Interval>
      </Interval>
      <IpMoxa>192.168.80.15</IpMoxa>
      <PortMoxa>11006</PortMoxa>
      <UpdateMoxa>500</UpdateMoxa>
      <EdIzm>Т</EdIzm>
      <NomerSSM>0</NomerSSM>
      <SendRaw>False</SendRaw>
      <IPSSM>127.0.0.1</IPSSM>
      <MagicString>
      </MagicString>
      <ModelDLL>-</ModelDLL>
    </VesyizmPart>
  </Vesyizm>
</Vesy>