<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="AUTOSTART" value="1"/>
    <add key="DNS_SERVER" value="vedro"/>
    <add key="PORT_SERVER" value="11002"/>
    <add key="TYPE_WEIGTH" value="AMT_LPC_PU8"/>
    <add key="DEBUG" value="1"/>
    <add key="WEIGTH_PORT_1" value="11005"/>
    <add key="WEIGTH_PORT_2" value="11006"/>
    <add key="WEIGTH_PORT_3" value="11007"/>
    <add key="WEIGTH_PORT_4" value="11008"/>
    <add key="WEIGTH_PORT_5" value="11009"/>
  </appSettings>
</configuration>